body {
    background-image: url(../images/indexBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* nav 修改 starts */
.nav {
    background-color: rgba(255, 255, 255, 0);
}
.nav_menu button {
    font-size: 1rem;
}
/* ends */

/* 背景黑框 starts */
.blackCover {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(8, 8, 8, 0.397);
}
/* 背景黑框 ends */

/* 衬托盒子 starts */
.whiteBox {
   position: absolute;
   top: 250px;
   left: 24rem;
   background-color: rgba(170, 170, 170, 0.678); 
   width: 48rem;
   height: 14rem;
   border-radius: 20px;
   opacity: 0;
}
/* 衬托盒子 ends */

/* 主页文字 starts */
.title {
    position: absolute;
    top: 150px;
    left: 29rem;
    width: 38rem;
    height: 6rem;
    opacity: 0;
}
.title img {
    width: inherit;;
    height: inherit;
}

/* ends */

/* 登录按钮 starts */
.logInBtn {
    position: absolute;
    top: 26rem;
    left: 40.5rem;
    width: 14rem;
    height: 5rem; 
    opacity: 0;
}
.bttn-pill.bttn-lg {
    padding: 8px 15px;
    font-size: 30px;
    font-family:'Bauhaus-Bold';
}
/* ends */